.selector{
    margin-left: 10px;
    border: none !important;
    border-radius: 5px;
    margin-top: 5px;
    width: 100px;
    height: 45px;
    background-color: #073169 !important;
    color: white;
}

@media  (max-width:480px){
    .selector{ 
       width: 50px;
    }
}