h3{
    color: #7C7C7C;
}

input{
    width: 100% !important;
}

.pass-btn{
    border-radius: 5px 0px 0px 5px;
    border: none;
    position: absolute;
    margin-right:85%;
    margin-top: 2px;
    color: #7C7C7C;
    
}

.password{
    display: flex;
    justify-content: center;
}

#sign-button{
    background-color: #042044 ;
    border: none;
    transition: background-color 0.3s !important;
    width: 40%;
    margin-top: 10px;
}

#sign-button:hover{
    background-color: #084492 !important;
}

@media  (max-width:480px){

    .pass-btn{
        
        margin-top: -2px;
        
        
    }

}