h1.about-h1{
    color: #042044;
}

p.about-p{
    color: rgb(91, 104, 117);
}

.aboutUs{
    background-color: rgba(234, 239, 245, 0.767);
}

.figure{
    width: 450px;
    height: 320px;
    background-color: white;
    margin: 20px 0px 20px 0px;
    border-radius: 15px;
}

.features{
    background-color: rgb(234, 239, 245);
    width: 177px;
    height: 125px;
    margin-top: 23px;
    margin-right: 7%;
    border-radius: 0px 10px 10px 10px;
}