@font-face {

  font-family:"SF Arabic";

  src: url(Font/Ios\ 15\ Bold.ttf);

}

body{
  font-family: "SF Arabic", sans-serif !important;
  font-optical-sizing: auto;
  background-color: rgb(221, 230, 236) !important;
}