.user-edit{
    margin-top: 70px;
    width: 80% !important;
    text-align: start;
    
}
.edit-buttons {
    background-color: #80081c !important;
    scale: 1;
    border: none !important;
    color: white !important;
    margin-top: 40px;
    height: 45px !important;
    width: 10%;
    transition: background-color 0.3s, transform 0.3s !important;
  }
  
  .edit-buttons:hover {
    background-color: #a30b24 !important;
    transform: scale(1.1) !important;
  }