.slide.m-0{
    width: 100%;
   
}

.search-inp{
    width: 20% !important;
}

.card-img{
     
    width: 100%;
    border-radius: 5px 5px 0px 0px;
   

}

.row.d-flex{
    margin-top: 40px
}

.pro-des{
    font-size: 15px;
    width: 60%;
    text-align: justify;
}

.pro{
   background-color: white;
    border: 1px solid rgb(234, 233, 233);
    width: 15%;
    margin: 10px;
    transition: box-shadow 0.3s;
    border-radius: 5px;
   
}

.pro:hover{
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2),
    0px 10px 30px 0px rgba(0, 0, 0, 0.19);
}

.petro-icon{
    color: rgb(186,14,32);
color: radial-gradient(circle, rgba(186,14,32,1) 0%, rgba(190,162,16,1) 100%);
}


.card-title{
    font-size: 20px !important;
    margin-top: 20px;
    
}

.card-des{
    font-size: 13px;
}

.swal2-popup {
    font-size: 12px !important;
}

.pro-buttons{
    background-color: #a30b24 !important;
    border: none !important;;
    color: rgb(255, 255, 255) !important;
    height: 38px !important;
    width: 80%;
    margin-bottom: 10px;
    transition: background-color 0.3s !important;
}

.pro-buttons:hover{
    background-color: #c70f2d !important;
    
}

.detail-buttons{
    background-color: transparent !important;
    border: none !important;;
    color: rgb(70, 131, 195) !important;
    width: 20%;
    border-radius: 500px;
    padding: 0px;
    padding-right: 5px;
    font-size: 12px;
    transition: background-color 0.3s, transform 0.3s !important;
}

.detail-buttons:hover{
    background-color:transparent !important;
    transform: scale(1.1)  !important;
    color: white;
    
}

.slider-form{
    position: absolute;
    transform: translateX(-300px) translateY(100px);
    width: 500px;
    
}

.order{
    margin-top: 40px;
    background-color: white !important;
    color: #013766 !important;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s !important;
}

.order:hover{
    background-color: rgb(214, 212, 212) !important;
    transform: scale(1.1)  !important;
}

.basket{
    margin-top: 40px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.158) !important;
    color: white !important;
    transition: background-color 0.3s, transform 0.3s !important;
}

.basket:hover{
    background-color: rgba(255, 255, 255, 0.212) !important;
    transform: scale(1.1)  !important;
}

@media (max-width:1400px){
    .slider-form{
        transform: translateX(-150px) translateY(50px);
        width: 350px;
    }

    .slider-title{
        font-size: 30px !important;
    }

    .slider-description{
        font-size: 13px !important;
    }

    .order{
        margin-top: 5px;
        scale: 0.9;
    }

    .basket{
        margin-top: 5px;
        scale: 0.9;
    }
}

@media(max-width:1100px) {
    .pro{
        width: 300px !important; 
       
    }

}

@media (max-width: 780px) {

    .card-img{
     
        width: 100%;
        border-radius: 0px 5px 5px 0px;
       
    
    }

    .slide.m-0{
        width: 45%;
    }

    .pro-buttons{
        margin-top: 10px;
        width: 40%;
        scale: 0.8;
        
    }

    .detail-buttons{
        margin-top: 5px;
        width: 100px;
       
    }
    .pro{
        width: 100% !important; 
       
    }


    .card-text{
        font-size: 10px;
    }

    .pro-title{
        font-size: 20px;
        margin-top: 30px;
    }

    .pro-des{
        font-size: 10px;
        width: 400px;
    }

    .petro-icon{
        width: 20px;
        height: 20px;
    }

    .search-inp{
        width: 50% !important;
    }

    .card-title{
        font-size: 15px !important;
        margin-top: 10px;
        
    }
    
    .card-des{
        font-size: 10px;
    }

    .detail-buttons{
       margin: 0px;
        width: 15%;
        
    }
    
}